body {
  font-family: Arial;
}
h1,h2 {
  text-align: center;
}

.contenedorImagen { 
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  overflow: hidden;
}
img {
  width: 80px;
  height: 80px;
}

.contenedorApartados{
  display: grid;
  grid-template-columns: 448px 1024px 448px;
  justify-content: center;
}
.panel {
  text-align: justify;
  line-height: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.canvasJuego {
  border: 1px solid black;
}

.redesSociales {
  display: flex;
  justify-content: center;
}
