body {
  font-family: Arial;
}
h1,h2 {
  text-align: center;
}

/*Imagenes redes sociales y demás*/
.redesSociales {
  display: flex;
  justify-content: center;
}
.contenedorImagen { 
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  overflow: hidden;
}
img {
  width: 80px;
  height: 80px;
}

/*Columnas*/
.contenedorApartados{
  display: grid;
  grid-template-columns: 560px 800px 560px;
  justify-content: center;
}
.panel {
  text-align: justify;
  line-height: 30px;
  margin-left: 50px;
  margin-right: 50px;
}